
.icon-home:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-export:before { content: '\e802'; } /* '' */
.icon-comment-alt:before { content: '\e803'; } /* '' */
.icon-heart-broken:before { content: '\f028'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */
